<div class="dashboard dashboard_1">
    <div class="full_container">
      <div class="inner_container">
        <!-- right content -->
        <div id="content">
            <div class="midde_cont">
              <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                      <div class="page_title">
                          <h2>Perfil</h2>
                      </div>
                    </div>
                </div>

                <div class="midde_cont">
                    
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                          <div class="heading1 margin_0">
                             <h2>Dados do Perfil</h2>
                            </div>
                        </div>
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <input type="text">
                                <button>Salvar configurações</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>


                <!-- <div class="container-fluid">
                    <div class="row">
                      <div class="footer">
                          <p>Copyright ©2024 Designed by html.design. All rights reserved.</p>
                      </div>
                    </div>
                </div> -->
              </div>
              <!-- end dashboard inner -->
            </div>
        </div>
      </div>
    </div>
  </div>