<div class="conta-configs">
  <div class="conta-configs-container">
    
      <div class="form-side"> 
        <h3 class="logo">Criar Conta</h3>
        <app-loading [show]="this.loading" title="Aguarde" subTitle="Estamos processar a informação"></app-loading>

        <form class="conta-configs-form" [formGroup]="contaForm" style="position: relative;">
          <app-loading [show]="loading" title="Aguarde" subTitle="Estamos a validar as suas credenciais de acesso"></app-loading> 
          <div class="row">
 
              <h4 class="form-title">Dados da Conta</h4>
              <div class="registar-form-row">
                    <div class="registar-form-group">
                      <input class="form-control" type="text" placeholder="Nome da Conta" formControlName="contaDescricao" required autocomplete="name"
                      [ngClass]="{ 'is-invalid': submitted && f.contaDescricao.errors, 'is-valid': f.contaDescricao.touched && !f.contaDescricao.errors }">
                    </div>

                    <div class="registar-form-group">
                      <select class="form-control" formControlName="moeda_id" name="moeda" id="moeda">
                        <option value="1" selected>Kwanza</option>
                        <option value="2">Dólar</option>
                        <option value="4">Euro</option>
                      </select>
                    </div>
              </div>  
              <h4 class="form-title">Adicionar Membros a Conta</h4>
              <div class="registar-form-row">
                    <div class="registar-form-group width-60">
                      <input class="form-control" type="text" placeholder="Email ou nº Telefone do utilizador" 
                      [(ngModel)]="this.memberDetail" [ngModelOptions]="{standalone: true}" required autocomplete="name">
                    </div>

                    <div class="registar-form-group width-40">
                    <button class="btnValidar" (click)="findUser(this.memberDetail)">Validar e Adicionar</button>
                    </div>
              </div>  
              <h4 class="form-title" *ngIf="contaMembers.length >= 1">Lista de <span>Membros</span> a Adicionar</h4>
              <h4 class="form-title" *ngIf="contaMembers.length < 1">Sem <span>Membros</span> Adicionados</h4>
              <div class="membersList">
                <ul class="membersList-wrapper">
                  <li *ngFor="let member of contaMembers; index as i">{{member.nome}}</li>
                </ul>
              </div>
            </div>

        </form>

        <div class="steps-buttons-container">
          <a routerLink="/user-panel" class="btnContaConfigs">Pular</a>
          <button class="btnContaConfigs"
          type="submit" (click)="onSubmit()" [class.optionalBtn]="this.contaForm.pristine || this.contaForm.invalid" [disabled]="this.contaForm.pristine || this.contaForm.invalid">Próximo</button>
        </div>
    
      </div>    
  </div>
</div>
