<!-- 
<div class="login">
  <div class="login-container">
    
    <div class="login-bg"></div>
    <div class="form-side">
      <img class="logo-container" src="/assets/img/logo.png" alt="" width="120px" height="120px">
      <h4 class="greetings">Olá, Benvindo novamente</h4>
      <h5 class="desc">Muito feliz em te-lo aqui, Para entrar no jogo use a tua conta.</h5>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="autenticate()" style="position: relative;"><br>
        <app-loading [show]="loading" title="Aguarde" subTitle="Estamos a validar as suas credenciais de acesso"></app-loading>
        <p class="text-muted"></p>

        <div class="row">

          <div class="registar-form-group">
            <label for="">Telefone</label>
            <input class="form-control" type="number" placeholder="Telefone" formControlName="telefone" required
            [ngClass]="{ 'is-invalid': submitted && f.telefone.errors, 'is-valid': f.telefone.touched && !f.telefone.errors }">
          </div>

          <div class="registar-form-group">
            <label for="">Palavra Passe</label>
            <input class="form-control" type="password" placeholder="senha" formControlName="password" required
            [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }">
          </div>

        </div>
        <div class="col-md-12 text-right">
          <div class="forgot-password">
          <a routerLink="/account/recuperar" class="forget-password">Esqueci a Palavra-passe</a>
          </div>
        </div> 
        <div class="row">
          <button class="btnLogin" [disabled]="this.loginForm.pristine || this.loginForm.invalid" [class.optionalBtn]="this.loginForm.pristine || this.loginForm.invalid">Login</button>
        </div>


        <div class="row">
          <a  routerLink="/signup" routerLinkActive="active" class="btnLogin">Criar conta</a>
        </div>
      </form>

    </div>
  </div> 
</div> -->

<div class="full_container">
  <div class="container">
     <div class="center verticle_center full_height">
        <div class="login_section">
           <div class="logo_login">
              <div class="center">
                 <img width="90" src="assets/img/logo/bg-tcc.jpg" alt="#" style="border-radius: 50%;"/>
              </div>
           </div>
           <div class="login_form">
              <form [formGroup]="loginForm" (ngSubmit)="autenticate()">
                 <fieldset>
                    <div class="field">
                       <label class="label_field">Email</label>
                       <input type="email" name="email" placeholder="E-mail" formControlName="email" required
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }"/>
                    </div>
                    <div class="field">
                       <label class="label_field">Palavra-Passe</label>
                       <input type="password" name="password" placeholder="Password" formControlName="password" required
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }"/>
                    </div>
                    <div class="field">
                       <label class="label_field hidden">hidden label</label>
                       <label class="form-check-label"><input type="checkbox" class="form-check-input"> Salvar Palavra-Passe</label>
                       <!-- <a class="forgot"  routerLink="/account/recuperar">Esquecer Password?</a> -->
                    </div>
                    <div class="field margin_0">
                       <label class="label_field hidden">hidden label</label>
                       <button class="main_bt" [disabled]="this.loginForm.pristine || this.loginForm.invalid">Entrar</button>
                    </div>
                 </fieldset>
              </form>
           </div>
        </div>
     </div>
  </div>
</div>