<div class="dashboard dashboard_1">
  <div class="full_container">
    <div class="inner_container">
      <!-- right content -->
      <div id="content">

<div class="midde_cont">
  <div class="container-fluid">
     <div class="row column_title">
        <div class="col-md-12">
           <div class="page_title">
              <h2>Realizar Operação</h2>
           </div>
        </div>
     </div>
     <!-- row -->
     <div class="row column1">
        <div class="col-md-4" style="margin: 0 auto;">
           <div class="white_shd full margin_bottom_30">
              <div class="full graph_head">
                 <div class="heading1 margin_0">
                    <h2>Registar Operação</h2>
                 </div>
              </div>
              <div class="full price_table padding_infor_info">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="registar_transacao_container" [class.active_position]="true">
                          <form  [formGroup]="moneyControlForm" (submit)="onSubmit();">
                            <div class="registar-form-group">
                              <select class="form-control" formControlName="categoria_id" required
                              [ngClass]="{ 'is-invalid': submitted && f.categoria_id.errors, 'is-valid': f.categoria_id.touched && !f.categoria_id.errors }">
                              <option value="null">Selecione</option>
                                <option value="1">Receita</option>
                                <option value="2">Despesa</option>
                              </select>
                            </div>
                            <div class="registar-form-group">
                              <!-- <label for="">Descrição</label> -->
                              <input class="form-control" type="text" placeholder="Descrição" formControlName="transacaoDescricao" required
                              [ngClass]="{ 'is-invalid': submitted && f.transacaoDescricao.errors, 'is-valid': f.transacaoDescricao.touched && !f.transacaoDescricao.errors }">
                              <!-- <div *ngIf="submitted && f['transacaoDescricao'].errors" class="invalid-feedback">
                                <div *ngIf="f['transacaoDescricao'].errors.required">O campo Descrição é obrigatório</div>
                              </div> -->
                            </div>
                            <div class="registar-form-group">
                              <select class="form-control" formControlName="transacao_tipos_id" required
                              [ngClass]="{ 'is-invalid': submitted && f.transacao_tipos_id.errors, 'is-valid': f.transacao_tipos_id.touched && !f.transacao_tipos_id.errors }">
                               <option [value]="item.id" *ngFor="let item of categories">{{item?.descricao}}</option>
                              </select>
                            </div>
                            <div class="registar-form-group">
                              <input type="date" formControlName="created_at" required>
                            </div>
                            <div class="registar-form-group">
                              <input class="form-control" type="number" formControlName="valor" placeholder="Valor" min="0" required
                              [ngClass]="{ 'is-invalid': submitted && f.valor.errors, 'is-valid': f.valor.touched && !f.valor.errors }"
                              (input)="updateValor($event.target.value)">
                            </div>
                            <div class="registar-form-group">
                              <textarea class="form-control" name="" formControlName="transacaoMotivo" id="" cols="30" rows="2" placeholder="Observação"
                              [ngClass]="{ 'is-invalid': submitted && f.transacaoMotivo.errors, 'is-valid': f.transacaoMotivo.touched && !f.transacaoMotivo.errors }"></textarea>
                         </div>
                            <button type="submit">
                              {{formType== 1 ? 'Receber' : 'Retirar'}} 
                              <span *ngIf="valorNumber">{{this.configService.numberFormat(valorNumber)}} AOA</span>
                            </button>
                        </form>

                        </div>

                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- end row -->
     </div>
     <!-- footer -->
     <div class="container-fluid">
        <div class="row">
           <div class="footer">
              <p>Copyright ©2024 Designed by html.design. All rights reserved.</p>
           </div>
        </div>
     </div>
  </div>
  <!-- end dashboard inner -->
</div>
</div>
</div>
</div>
</div>