<div class="dashboard dashboard_1">
  <div class="full_container">
    <div class="inner_container">
      <!-- right content -->
      <div id="content">
        <div class="midde_cont">
          <div class="container-fluid">
            <div class="row column_title">
              <div class="col-md-12">
                <div class="page_title">
                  <h2>Relatorio Financeiro</h2>
                </div>
              </div>
            </div>

            <!-- dashboard inner -->

            <!-- row -->
            <div class="row column">
              <div class="col-lg-7">
                <grafico-bar-chart title="Avaliação da Conta"></grafico-bar-chart>
              </div>

              <div class="col-lg-5">
                <div class="white_shd dark_bg full margin_bottom_30">
                  <div class="full graph_head">
                    <div class="heading1 margin_0">
                      <h2 style="color: white;">Estado Actual</h2>
                    </div>
                  </div>
                  <div class="map_section padding_infor_info">
                    <div class="full progress_bar_inner">
                      <div class="row">
                         <div class="col-md-12">
                            <div class="progress_bar">
                               <!-- Skill Bars -->
                               <span class="skill" [style.width.%]="totalReceitas">Receitas <span class="info_valume">{{totalReceitas}}%</span></span>                  
                               <div class="progress skill-bar ">
                                  <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow=`%{totalReceitas}` aria-valuemin="0" aria-valuemax="100" [style.width.%]="totalReceitas">
                                  </div>
                               </div>
                               <span class="skill" [style.width.%]="totalDespesas">Despesas <span class="info_valume">{{totalDespesas}}%</span></span>   
                               <div class="progress skill-bar">
                                  <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow=`%{totalDespesas}` aria-valuemin="0" aria-valuemax="100" [style.width.%]="totalDespesas">
                                  </div>
                               </div>
                               <span class="skill" [style.width.%]="totalPoupancas">Poupança <span class="info_valume">{{totalPoupancas}}%</span></span>
                               <div class="progress skill-bar">
                                  <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow=`%{totalPoupancas}` aria-valuemin="0" aria-valuemax="100" [style.width.%]="totalPoupancas">
                                  </div>
                               </div>
                            </div>
                            <div class="report_container">
                              <a class="report_item">
                                <div class="picture">
                                  <img src="../../../../../../assets/img/pdf-file.png" alt="">
                                </div>
                                <div class="content">
                                  Relatório PDF
                                </div>
                              </a>
                              <a class="report_item">
                                <div class="picture">
                                  <img src="/assets/img/excel-file.png" alt="">
                                </div>
                                <div class="content">
                                  Relatório Excel
                                </div>
                              </a>
                            </div>
                         </div>
                      </div>
                   </div>
                  </div>
                </div>
              
              </div>

              <div class="col-lg-4">
               <app-top-list title="Top 5 Transações"></app-top-list> 
              </div>

              <div class="col-lg-8">
                <grafico-pie-chart title="Distribuição Operações"></grafico-pie-chart>
              </div>

            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
