   .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: var(--mainColor); /* Azul */
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 1.5s infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
  }
  
  p {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--mainColor); /* Azul */
  }
  