<div class="{{ (is_modal? 'modal fade' :'') }}" id="modalEnvioEmailRecuperarPassword" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 972px;">
      <div class="modal-content {{ ( !is_modal? 'modal-content-notboxshadow' :'') }}">
      <!-- Modal Header -->
      <!-- Modal body -->
    <form [formGroup]="recuperarPasswordForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
      <div class="modal-header">
          <h4 class="modal-title">Recuperar palavra-passe</h4>
          <button #closeModal  class="close" type="reset" (click)="onReset()"  data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="row">
          <div class="col-md-12"><h4 style="padding: 10px; background: #00519f; border-radius: 4px; color: #fff;text-align: center;">Digite o endereço de Email verificado da sua conta de usuário e nós lhe enviaremos um link de redefinição de senha.</h4></div>
        </div>
        <!-- /.card-body -->
        <div class="row">
          <div class="col-md-12">
              <hr>
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-group has-warning">
                <!--   <label class="col-form-label" for="email">email </label>
                  <label style="color: #f44336" class="mr-2">*</label> -->
                  <input class="form-control" required autofocus id="email" type="email" formControlName="email"
                    placeholder="Insira o seu Email" autocomplete="given-name"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }" />
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors.required">O campo email é obrigatório</div>
                  </div>
                </div>
              </div>
            <!--    <div class="form-group col-md-12">


               <input class="form-control" id="password_confirmation" type="password"
                  formControlName="password_confirmation" placeholder="Confirmar Senha" autocomplete="new-password"
                  required
                  [ngClass]="{ 'is-invalid': submitted && email.errors, 'is-valid': f.email.touched}" />
                <div *ngIf="submitted && email.errors" class="invalid-feedback">
                  <div *ngIf="recuperarPasswordForm.errors['email']">As senhas não correspondem </div>
                </div> 
              </div>-->
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="form-group">

<!-- 
          <button class="btn btn-danger" type="reset" [disabled]="recuperarPasswordForm.pristine && !submitted"
            (click)="onReset()">Limpar
          </button> -->
        <!--   <button class="btn btn-success mr-1" type="submit" [disabled]="recuperarPasswordForm.valid">Validar</button> -->
          <button class="btn btn-success mr-1" data-style="expand-left" type="submit"
            [disabled]="recuperarPasswordForm.pristine || recuperarPasswordForm.invalid">Enviar
          </button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
