<div class="row column1">
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-user yellow_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{ this.configService.numberFormat(dashboard.valorPoupancas || 0) }} AOA</p>
                <p class="head_couter">Poupanças</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-clock-o blue1_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{ this.configService.numberFormat(dashboard.valorReceitas || 0)
                }} AOA</p>
                <p class="head_couter">Receitas</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-cloud-download green_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{ this.configService.numberFormat( dashboard.valorDespesas || 0)
                }} AOA</p>
                <p class="head_couter">Despesas</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-comments-o red_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{ this.configService.numberFormat( dashboard.valorReceitas || 0)
                }} AOA</p>
                <p class="head_couter">Total Arrecadado</p>
             </div>
          </div>
       </div>
    </div>
 </div>