
*{
  box-sizing: border-box;
}

/* ***************** */
.registar_transacao {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.750);
  position: fixed;
  
  bottom: -500px;
  opacity: 0;
  left: 0;right: 0;
  transition: bottom 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registar_transacao_container{
  max-height: 630px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 12px;
  background-color: rgb(9, 39, 45);
  position: relative;
}

.registar_transacao_container form{  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  padding: 1rem 3rem;
  width: 600px !important;
}

.registar-form-group-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.registar_transacao_group{
  background-color: rgba(18, 59, 66);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active_position {
  bottom: 0;
  top: 0;
  opacity: 1;
}

.btn_close:hover {
  opacity: 1;
  color: var(--details-color);
}

.btn_close {
  position: absolute;
  top: .8rem;
  right: 1.2rem;
  font-size: 20px;
  cursor: pointer;
  opacity: .8;
  color: white;
  z-index: 99999;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg,rgba(var(--v-theme-background),70%) 44%,rgba(var(--v-theme-background),43%) 73%,rgba(var(--v-theme-background),0%));
  padding: 1rem;
}

.titleWrapper i{
  opacity: .8;
}

.registar_title{
  font-size: 22px;
  color: var(--details-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

form button {
  padding: 6px 16px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 896);
  color: white;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.btnAddTransacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

form button:hover {
  background-color: var(--details-color);
}

.registar-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.registar-form-group label{
  color: white;
  opacity: .9;
  font-size: 14px;
}

.registar-form-group input,
.registar-form-group select{
  height: 35px;
  border: transparent;
}

.registar-form-group select option{
  color: white;
  background-color: transparent;
}

.registar-form-group select,
.registar-form-group input,
.registar-form-group textarea{
  width: 100%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.296);
  border: 1px solid transparent;
  color: white;
  font-size: 14px;  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.registar-form-group textarea{
  padding: 10px;
}

form {
  position: relative;
}

.btnSubmit{
  position: fixed;
  bottom: 50px;
  right: 25%;
}

/* ***************** */