<div class="login-container">
    <div>
      <img class="at-logo" src="assets/img/itFav.jpg" alt="User Image" style="width: 14%; border-radius: 8px;">
  
      <form class="login-form" [formGroup]="recoveryPasswordForm" (ngSubmit)="recoveryPassword()" style="position: relative;"><br>
        <app-loading [show]="loading" title="Aguarde" subTitle="Estamos a validar o email de recuperação"></app-loading>
        <p class="text-muted"></p>
  
        <div class="row">
          <div class="col-md-12 offset-5">
            <h3>Unig4Telco</h3>
            <br>
          </div>
  
          <mat-form-field appearance="outline" class="example-full-width col-md-12 col-xs-12 col-sm-12">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email_recuperacao" placeholder="Email de recuperação">
            <mat-icon matSuffix>envelope</mat-icon>  
            <mat-error>É obrigatório informar o email de recuperação</mat-error>
          </mat-form-field>
  
          <!-- <mat-form-field appearance="outline" class="example-full-width col-md-12 col-xs-12 col-sm-12" style="margin-top: 10px;">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Palavra-passe">
            <mat-icon matSuffix>lock</mat-icon>
  
            <mat-error>É obrigatório informar a palavra-passe</mat-error>
          </mat-form-field> -->
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-lg btn-block btn-login" style="height: 67px;"><h2>Recuperar password</h2></button>
          </div>  
        </div>
  
        <div class="row help-password" style="margin-top: 30px; border-radius: 4px;"> 
          <div class="col-md-4">
            <label class="rememberme"> 
                <a  routerLink="/account/signup" class="forget-password">Criar nova conta</a>
            </label>
          </div>
  
          <div class="col-md-8 text-right">
            <div class="forgot-password">
            <a routerLink="/login" routerLinkActive="active" class="forget-password">Login</a>
            </div>
          </div> 
        </div>
        <!-- border: 1px solid #d5d4d4; -->
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="copyright">
        <p>2019-2020 UNIG | Todos os Direitos Reservados</p>
      </div>
    </div>
  
    <div class="login-bg"></div>
  
  </div> 