
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-togglee" data-toggle="dropdown">Action</button>
    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown"> 
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" [routerLink]="action.url" *ngFor="let action of this.actions"  
        data-toggle="modall" data-target="{{ action.modal }}" (click)="fn()"
        >
          <i class="{{ action.icon }}"></i>  {{ action.name }}
        </a> 
      </div>
    </button>
  </div>