.name_container,
.pass_container{
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.label_field {
  margin-left: 20px !important;
  text-align: start !important;
}

.field input {
  float: left !important;
  width: auto !important;
}
.field,
.help-password{
  margin-left: 32px !important;
}