<aside [class.active]="isOpen">
  <div class="container-aside" [class.container_active]="isOpen">
    <div class="row column1">
    <div class="col-md-12" style="margin: 0 auto;">
      <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
              <div class="heading1 margin_0">
                <h2>Criar Meta</h2>
              </div>
          </div>
          <div class="full price_table padding_infor_info">
              <div class="row">
                <div class="col-lg-12">
                    
                    <div class="registar_transacao_container">

                      <form  [formGroup]="moneyControlForm" (submit)="onSubmit();">

                        <div class="registar-form-group">
                          <!-- <label for="">Descrição</label> -->
                          <input class="form-control" type="text" placeholder="Titulo" formControlName="titulo" required
                          [ngClass]="{ 'is-invalid': submitted && f.titulo.errors, 'is-valid': f.titulo.touched && !f.titulo.errors }">
                          <!-- <div *ngIf="submitted && f['titulo'].errors" class="invalid-feedback">
                            <div *ngIf="f['titulo'].errors.required">O campo Descrição é obrigatório</div>
                          </div> -->
                        </div>

                        <div class="registar-form-group">
                          <!-- <label for="">Observação</label> -->
                          <textarea class="form-control" name="" formControlName="descricao" id="" cols="30" rows="2" placeholder="Descrição"
                          [ngClass]="{ 'is-invalid': submitted && f.descricao.errors, 'is-valid': f.descricao.touched && !f.descricao.errors }"></textarea>
                          <!-- <div *ngIf="submitted && f['descricao'].errors" class="invalid-feedback">
                            <div *ngIf="f['descricao'].errors.required">O campo Equipa é obrigatório</div>
                          </div> -->
                        </div>

                        <div class="registar-form-group">
                          <!-- <label for="">transacao_tipos_id</label> -->
                          <input type="date" formControlName="created_at" required>
                          <!-- <div *ngIf="submitted && f['transacao_tipos_id'].errors" class="invalid-feedback">
                            <div *ngIf="f['transacao_tipos_id'].errors.required">O campo transacao_tipos_id é obrigatório</div>
                          </div> -->
                        </div>

                        <div class="registar-form-group">
                          <!-- <label for="">transacao_tipos_id</label> -->
                          <input type="date" formControlName="data_conclusao" required>
                          <!-- <div *ngIf="submitted && f['transacao_tipos_id'].errors" class="invalid-feedback">
                            <div *ngIf="f['transacao_tipos_id'].errors.required">O campo transacao_tipos_id é obrigatório</div>
                          </div> -->
                        </div>

                        <div class="registar-form-group">
                          <!-- <label for="">valorPretendido</label> -->
                          <input class="form-control" type="number" formControlName="valorPretendido" placeholder="Valor Pretendido" min="0" required
                          [ngClass]="{ 'is-invalid': submitted && f.valorPretendido.errors, 'is-valid': f.valorPretendido.touched && !f.valorPretendido.errors }"
                          (input)="updateValor($event.target.value)">
                          <!-- <div *ngIf="submitted && f['valorPretendido'].errors" class="invalid-feedback">
                            <div *ngIf="f['valorPretendido'].errors.required">O campo Equipa é obrigatório</div>
                          </div> -->
                        </div>
                        <button type="submit">
                          <span>Criar Meta</span>
                        </button>
                        <button class="lastbtn" type="submit" (click)="onCloseModal()">
                          <span>Cancelar</span>
                        </button>
                    </form>

                    </div>

                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- end row -->
    </div>
  </div>
</aside>