  <div class="secondaryHeader">
    <div class="max__content">
    <!-- Left navbar links -->
    <ul class="navbar-nav nav__items">
      <li id="home" class="nav-item dropdown2">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          <i class="fa fa-home">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/grid-even.png" alt="">
          </i>
          <span>Dashboard</span>
        </a>
      </li>
      <li id="user-panel" class="nav-item dropdown2">
        <a routerLink="/user-panel" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/doc-paper.png" alt="">
          </i>
          <span>Painel</span>
        </a>
      </li>
      <li id="simulador" class="nav-item dropdown2">
        <a routerLink="/charts" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/charts.png" alt="">
          </i>
          <span>Projecções</span>
        </a>
      </li>
      <li id="simulador" class="nav-item dropdown2">
        <a routerLink="/orcamento" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/statistics.png" alt="">
          </i>
          <span>Orçamento</span>
        </a>
      </li>
      <li id="simulador" class="nav-item dropdown2">
        <a routerLink="/simulador" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/credit-card.png" alt="">
          </i>
          <span>Metas</span>
        </a>
      </li>
      <li id="historico-transacoes" class="nav-item dropdown2">
        <a routerLink="/historico-transacoes" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/wallet.png" alt="">
          </i>
          <span>Histórico</span>
        </a>
      </li>
      <li id="simulador" class="nav-item dropdown2">
        <a routerLink="/chat-message" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder">
            <img width="22" height="22" src="../../../../../../assets/img/sidebar/message-circle.png" alt="">
          </i>
          <span>Mensagens</span>
        </a>
      </li>
      <!-- <li id="dashboard" class="nav-item dropdown2">
        <a  routerLink="/#" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder-open">
            <img width="20" height="20" src="../../../../../../assets/img/sidebar/wallet.png" alt="">
          </i>
          <span>Receitas</span>
        </a>
      </li>
      <li id="dashboard" class="nav-item dropdown2">
        <a  routerLink="/#" routerLinkActive="active" class="nav-link">
          <i class="fa fa-folder-open">
              <img width="20" height="20" src="../../../../../../assets/img/sidebar/doc-paper.png" alt="">
            </i>
            <span>Despesas</span>
          </a>
        </li>
        <li id="simulador" class="nav-item dropdown2">
          <a  routerLink="/#" routerLinkActive="active" class="nav-link">
            <i class="fa fa-shopping-cart">
              <img width="20" height="20" src="../../../../../../assets/img/sidebar/gear-settings.png" alt="">
            </i>
            <span>Definições</span>
          </a>
        </li>  -->
        <li id="simulador" class="nav-item dropdown2">
          <a  href="#" class="nav-link" (click)="this.authenticated.logout()">
            <i class="fa fa-shopping-cart">
              <img width="20" height="20" src="../../../../../../assets/img/sidebar/log-out.png" alt="">
            </i>
            <span>Logout</span>
          </a>
        </li> 
    </ul>
</div>
  </div>
  <!-- /.navbar -->

  <!-- <app-redefinir-password-user-logado [is_modal]="true" [user]="this.authenticated.user"></app-redefinir-password-user-logado> -->