<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar_blog_1">
     <div class="sidebar-header">
        <div class="logo_section">
           <a href="index.html"><img class="logo_icon img-responsive" src="/assets/img/logo/logo_icon.png" alt="#" /></a>
        </div>
     </div>
     <div class="sidebar_user_info">
        <div class="icon_setting"></div>
        <div class="user_profle_side">
           
           <div class="user_img">
              <img class="img-responsive" src="https://avatar.iran.liara.run/username?username={{ this.authenticated?.user?.nome || 'unknown'}}" alt="">
         </div>
           <div class="user_info">
              <h6>{{this.authenticated?.user?.nome}}</h6>
              <p><span class="online_animation"></span> Online</p>
           </div>
        </div>
     </div>
  </div>
  <div class="sidebar_blog_2">
     <h4>Finanças Pessoais</h4>
     <ul class="list-unstyled components">
        <li class="active">
           <a href="#dashboard" ><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
           
        </li>
        <li><a routerLink="/transacao"><i class="fa fa-diamond purple_color"></i> <span>Transacção</span></a></li>
        

        <li><a routerLink="/historico-transacoes"><i class="fa fa-briefcase blue1_color"></i> <span>Histórico de Transacção</span></a></li>
        <li><a routerLink="/relatorio-financeiro" (click)="handleClickNew"><i class="fa fa-bar-chart-o green_color"></i> <span>Relatório Financeiro</span></a></li>
        <li>
           <a routerLink="/metas">
           <i class="fa fa-paper-plane red_color"></i> <span>Definição de Metas</span></a>
        </li>
        <!-- <li><a routerLink="/perfil"><i class="fa fa-cog yellow_color"></i> <span>Editar Perfil</span></a></li> -->

      
        
     </ul>
  </div>
</nav>
<!-- end sidebar -->