<link id="temacss" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>
<!-- <app-block-screen></app-block-screen> -->

<ngx-spinner bdOpacity=0.4 bdColor="rgb(37 77 83 / 85%)" size="large" color="#fff" type="ball-scale-multiple" fullScreen="true">
  <p style="color:white; font-size: 22px"> Carregando... </p>
</ngx-spinner>

  <div class="wrapper {{!showSidebar ? 'hide_max_width' : ''}}">
    <!-- <app-menu-sidebar *ngIf="showSidebar"></app-menu-sidebar> -->

    <div class="content-wrapper {{ layout.layoutNavigationTop?'content-wrapper-left': ''}}">
    <!-- <app-menu-header [themeApp]="themeApp" class="{{ layout.layoutNavigationTop?'content-wrapper-left': ''}}" *ngIf="layout.customLayout" [layoutNavigationTop]="layout.layoutNavigationTop" [authenticated]="auth"></app-menu-header> -->
      
      <section class="content" >
        <router-outlet></router-outlet>
      </section>
      
    </div>
      <!-- <app-faq-helper *ngIf= "this.u serData"></app-faq-helper> -->
  </div>
