@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-filter-blur {
      backdrop-filter: blur(4px); position: absolute; z-index: 9999; height: 100%; width: 100%;
    }
}
