<!-- <div class="dashboard">

    <div class="cards-wrapper">
      <div class="dashboard-title">
        Meu Dashboard 💳
      </div>
      <div class="full-width">
        <app-dashboard-home></app-dashboard-home>
      </div>
        
      <div class="slideshow-container">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="slide" [class.active]="false">
              <div class="dashboard-title">
                {{ transactionData?.data?.length > 0 ? 'Últimos' : 'Sem'}} Movimentos
              </div>
              <div class="transactions-container"  *ngIf=" transactionData?.data?.length > 0">
                <app-transaction-full [largeSize]="true"
                (handleEdit)="handleEditTransaction($event)"
                ></app-transaction-full>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide *ngIf="transactionData?.data?.length > 0">
            <div class="slide" [class.active]="true">
              <div class="dashboard-title font-sm">
                Estatística
              </div>
              <div class="grafico-left">
                <app-grafico [dashboard]="this.dashboard"></app-grafico>
              </div>
              <div class="contorno-bottom"></div>
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
    
  </div>

    <div class="feature-side">
      
      <div class="feature-container">

        <div class="user-details">
          <div class="user-details-container">
            <div class="user-details-avatar">
              <i class="fa fa-home">
                <img width="70" *ngIf="this.authenticated?.user?.id==1" height="70" src="../../../../../../assets/img/Grécio_Diogo.png" alt="">
                <img width="70" *ngIf="this.authenticated?.user?.id!=1" height="70" src="https://avatar.iran.liara.run/username?username={{ this.authenticated?.user?.nome || 'unknown'}}" alt="">

              </i>
            </div>
            <span class="user-details-title">cartão virtual</span>
            <h5 class="user-name">{{ this.authenticated?.user?.nome || 'unknown'}}</h5>
          </div>
        </div>

        <div class="services-container">
         <app-menu-item iconeTitle="income.png" itemTitle="Receber" (click)="toggleRecieveBtn(1)"></app-menu-item>
         <app-menu-item iconeTitle="withdraw.png" itemTitle="Retirar" (click)="toggleRecieveBtn(2)"></app-menu-item>
         <app-menu-item iconeTitle="money.png" itemTitle="Finanças" (click)="toggleMultpileTransaction()"></app-menu-item>
         <app-menu-item iconeTitle="document-file.png" itemTitle="Histórico"></app-menu-item>
        </div>

        <app-credit-card
          [totalDisponivel]="totalDisponivel"
          cardTitle="Angola Kwanza"
        ></app-credit-card>

        <app-money-control-form [formType]="formType" [activePosition]="activePosition" (close)="onClose()"></app-money-control-form>
      </div>
      
      
      <div class="dashboard-title sc-color" *ngIf="transactionData?.data?.length > 0">
        Últimos Movimentos
      </div>
      <app-transaction [transaction]="lastTransaction" *ngIf="transactionData?.data?.length > 0"></app-transaction>

      <div class="transactions see-all" *ngIf=" transactionData?.data?.length > 0">
        <button>
          Ver todos Movimentos
          <span>→</span>
        </button>
      </div>
    
    </div>
   
</div> -->

<!-- <app-multiple-transaction-form [activePosition]="activeMultipleTransactionForm" (close)="onCloseModal()" (loadList)="this.findAllTransactions()"></app-multiple-transaction-form> -->

<div class="dashboard dashboard_1">
<div class="full_container">
  <div class="inner_container">

     <!-- right content -->
     <div id="content">

        <!-- dashboard inner -->
        <div class="midde_cont">
           <div class="container-fluid">
              <div class="row column_title">
                 <div class="col-md-12">
                    <div class="page_title">
                       <h2>Dashboard</h2>
                    </div>
                 </div>
              </div>
              <div class="row column1">
               <app-dashboard-home></app-dashboard-home>
              </div>

              <div class="label_container">
                 <h1>Sistema de Gestão <span>Fincanceiro</span></h1>
              </div>
              <!-- graph -->
              <!-- <div class="row column2 graph margin_bottom_30">
                 <div class="col-md-l2 col-lg-12">
                    <div class="white_shd full">
                       <div class="full graph_head">
                          <div class="heading1 margin_0">
                             <h2>Extra Area Chart</h2>
                          </div>
                       </div>
                       <div class="full graph_revenue">
                          <div class="row">
                             <div class="col-md-12">
                                <div class="content">
                                   <div class="area_chart">
                                      <canvas height="120" id="canvas"></canvas>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div> -->
              <!-- end graph -->
              <!-- <div class="row column3">

               <div class="col-md-6">
                    <div class="dark_bg full margin_bottom_30">
                       <div class="full graph_head">
                          <div class="heading1 margin_0">
                             <h2>Testimonial</h2>
                          </div>
                       </div>
                       <div class="full graph_revenue">
                          <div class="row">
                             <div class="col-md-12">
                                <div class="content testimonial">
                                   <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner">
                                         <div class="item carousel-item active">
                                            <div class="img-box"><img src="/assets/img/layout_img/user_img.jpg" alt=""></div>
                                            <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                            <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                                         </div>
                                         <div class="item carousel-item">
                                            <div class="img-box"><img src="/assets/img/layout_img/user_img.jpg" alt=""></div>
                                            <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                            <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                                         </div>
                                         <div class="item carousel-item">
                                            <div class="img-box"><img src="/assets/img/layout_img/user_img.jpg" alt=""></div>
                                            <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                            <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                                         </div>
                                      </div>

                                      <a class="carousel-control left carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                                      <i class="fa fa-angle-left"></i>
                                      </a>
                                      <a class="carousel-control right carousel-control-next" href="#testimonial_slider" data-slide="next">
                                      <i class="fa fa-angle-right"></i>
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

                 <div class="col-md-6">
                    <div class="white_shd full margin_bottom_30">
                       <div class="full graph_head">
                          <div class="heading1 margin_0">
                             <h2>Progress Bar</h2>
                          </div>
                       </div>
                       <div class="full progress_bar_inner">
                          <div class="row">
                             <div class="col-md-12">
                                <div class="progress_bar">

                                 <span class="skill" style="width:73%;">Facebook <span class="info_valume">73%</span></span>                  
                                   <div class="progress skill-bar ">
                                      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                                      </div>
                                   </div>
                                   <span class="skill" style="width:62%;">Twitter <span class="info_valume">62%</span></span>   
                                   <div class="progress skill-bar">
                                      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                                      </div>
                                   </div>
                                   <span class="skill" style="width:54%;">Instagram <span class="info_valume">54%</span></span>
                                   <div class="progress skill-bar">
                                      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;">
                                      </div>
                                   </div>
                                   <span class="skill" style="width:82%;">Google plus <span class="info_valume">82%</span></span>
                                   <div class="progress skill-bar">
                                      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                      </div>
                                   </div>
                                   <span class="skill" style="width:48%;">Other <span class="info_valume">48%</span></span>
                                   <div class="progress skill-bar">
                                      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                 </div>

              </div> -->
              <!-- <div class="row column4 graph">
                 <div class="col-md-6 margin_bottom_30">
                    <div class="dash_blog">
                       <div class="dash_blog_inner">
                          <div class="dash_head">
                             <h3><span><i class="fa fa-calendar"></i> 6 July2024</span><span class="plus_green_bt"><a href="#">+</a></span></h3>
                          </div>
                          <div class="list_cont">
                             <p>Today Tasks for Ronney Jack</p>
                          </div>
                          <div class="task_list_main">
                             <ul class="task_list">
                                <li><a href="#">Meeting about plan for Admin Template2024</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Meeting about plan for Admin Template2024</a><br><strong>11:00 AM</strong></li>
                                <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>
                                <li><a href="#">Meeting about plan for Admin Template2024</a><br><strong>02:00 PM</strong></li>
                             </ul>
                          </div>
                          <div class="read_more">
                             <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="dash_blog">
                       <div class="dash_blog_inner">
                          <div class="dash_head">
                             <h3><span><i class="fa fa-comments-o"></i> Updates</span><span class="plus_green_bt"><a href="#">+</a></span></h3>
                          </div>
                          <div class="list_cont">
                             <p>User confirmation</p>
                          </div>
                          <div class="msg_list_main">
                             <ul class="msg_list">
                                <li>
                                   <span><img src="/assets/img/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                   <span>
                                   <span class="name_user">Herman Beck</span>
                                   <span class="msg_user">Sed ut perspiciatis unde omnis.</span>
                                   <span class="time_ago">12 min ago</span>
                                   </span>
                                </li>
                                <li>
                                   <span><img src="/assets/img/layout_img/msg3.png" class="img-responsive" alt="#" /></span>
                                   <span>
                                   <span class="name_user">John Smith</span>
                                   <span class="msg_user">On the other hand, we denounce.</span>
                                   <span class="time_ago">12 min ago</span>
                                   </span>
                                </li>
                                <li>
                                   <span><img src="/assets/img/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                   <span>
                                   <span class="name_user">John Smith</span>
                                   <span class="msg_user">Sed ut perspiciatis unde omnis.</span>
                                   <span class="time_ago">12 min ago</span>
                                   </span>
                                </li>
                                <li>
                                   <span><img src="/assets/img/layout_img/msg3.png" class="img-responsive" alt="#" /></span>
                                   <span>
                                   <span class="name_user">John Smith</span>
                                   <span class="msg_user">On the other hand, we denounce.</span>
                                   <span class="time_ago">12 min ago</span>
                                   </span>
                                </li>
                             </ul>
                          </div>
                          <div class="read_more">
                             <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div> -->
           </div>

           <!-- <div class="container-fluid">
              <div class="footer">
                 <p>Copyright ©2024 Designed by html.design. All rights reserved.<br><br>
                    Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                 </p>
              </div>
           </div> -->
        </div>

      </div>
  </div>
</div>
</div>